<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/styles_users.css">
        <title>Crear producto - Nefelibata</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>

            <p class="creating-account">CREAR PRODUCTO</p>


            <form action="/products/store" method="post" enctype="multipart/form-data" class="form1">
                <div class="input-group">
                    <input type="text" name="name" id="name" required class="input">
                    <label for="name" class="input-label">Nombre de Producto</label>
                </div>
                <div class="front">
                    <small class="text-danger name"></small>
                </div>
                <% if(typeof errores !='undefined' ){ %>
                    <!--Sabrina-->
                    <% for(let i=0; i < errores.length; i++){ %>
                        <!--Sabrina-->
                        <% if(errores[i].param=="name" ){ %>
                            <!--Sabrina-->
                            <small class="text-danger">
                                <%= errores[i].msg%>
                            </small>
                            <!--Sabrina-->
                        <% } %>
                                <!--Sabrina-->
                    <% } %>
                                    <!--Sabrina-->
                <% } %>
                                        <!--Sabrina-->


                <div class="input-group">
                    <input type="text" name="description" id="description" required class="input"></input>
                    <label for="description" class="input-label">Descripción</label>
                </div>
                <div class="front">
                    <small class="text-danger description"></small>
                </div>
                <% if(typeof errores !='undefined' ){ %>

                    <% for(let i=0; i < errores.length; i++){ %>

                        <% if(errores[i].param=="description" ){ %>

                            <small class="text-danger">
                                <%= errores[i].msg%>
                            </small>

                        <% } %>

                    <% } %>

                <% } %>


                <div class="input-group">
                    <input type="text" name="price" id="price" required class="input">
                    <label for="price" class="input-label">Precio</label>
                </div>

                <div class="input-group-selected">
                    <select name="category" id="category">
                        <label for="category" class="input-label">Categoria</label>
                        <% for(let i=0; i < categorias.length; i++) {%>
                            <option value= <%= categorias[i].product_category_id %> > <%= categorias[i].category %> </option>
                            <% } %>
                        </select>
                </div>

                <div class="input-group input-container">
                    <figure class="img-miniature-container">
                        <img id="chosen-image">
                        <figcaption id="image-name"></figcaption>
                    </figure>
                    <input type="file" name="image" id="image" class="input input_avatar">
                    <label for="image" class="label_avatar">Imagen del producto</label>
                </div>
                <div class="front">
                    <small class="text-danger image"></small>
                </div>
                <% if(typeof errores !='undefined' ){ %>
                    <% for(let i=0; i < errores.length; i++){ %>
                        <% if(errores[i].param=="image" ){ %>
                            <small class="text-danger">
                                <%= errores[i].msg%>
                            </small>
                        <% } %>
                    <% } %>
                <% } %>
                <br>

                <div class="responsivebuttons">
                    <div class="button1 button2">
                        <button type="reset">Reset</button>
                    </div>
                    <br>
                    <div class="button1">
                        <button type="submit">Crear Producto</button>
                    </div>
                </div>

            </form>

        </main>

        <script src='/js/index.js' type="text/javascript"></script>

        <%- include("../partials/footer") %>

</body>

</html>