<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/create_edit.css">
        <title>Crear producto - Nefelibata</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>

            <p class="creating-account">CREAR PRODUCTO</p>

            <p class="text-benefit">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>


            <form action="/products/store" method="post" enctype="multipart/form-data" class="form1">
                <div class="control-formulario">
                    <label for="name">Nombre de Producto</label>
                    <input type="text" name="name" id="name" placeholder="Ej. Agenda" requiredclass="input">
                </div>
                <div class="front">
                    <small class="text-danger name"></small>
                </div>
                <% if(typeof errores !='undefined' ){ %>
                    <!--Sabrina-->
                    <% for(let i=0; i < errores.length; i++){ %>
                        <!--Sabrina-->
                        <% if(errores[i].param=="name" ){ %>
                            <!--Sabrina-->
                            <small class="text-danger">
                                <%= errores[i].msg%>
                            </small>
                            <!--Sabrina-->
                            <% } %>
                                <!--Sabrina-->
                                <% } %>
                                    <!--Sabrina-->
                                    <% } %>
                                        <!--Sabrina-->

                                        <div class="control-formulario">
                                            <label for="category">Categoria</label>
                                            <<select name="category" id="category">
                                                <% for(let i=0; i < categorias.length; i++) {%>
                                                    <option value=<%=categorias[i].category %>><%=
                                                            categorias[i].category %>
                                                    </option>
                                                    <% } %>
                                                        </select>
                                        </div>


                                        <div class="control-formulario">
                                            <label for="description">Descripción</label>
                                            <textarea name="description" id="description" required
                                                class="input">Detalle de Producto</textarea>
                                        </div>
                                        <div class="front">
                                            <small class="text-danger description"></small>
                                        </div>
                                        <% if(typeof errores !='undefined' ){ %>
                                            <!--sabrina-->
                                            <% for(let i=0; i < errores.length; i++){ %>
                                                <!--Sabrina-->
                                                <% if(errores[i].param=="description" ){ %>
                                                    <!--Sabrina-->
                                                    <small class="text-danger">
                                                        <%= errores[i].msg%>
                                                    </small>
                                                    <!--Sabrina-->
                                                    <% } %>
                                                        <!--Sabrina-->
                                                        <% } %>
                                                            <!--Sabrina-->
                                                            <% } %>
                                                                <!--Sabrina-->

                                                                <div class="control-formulario">
                                                                    <label for="price">Precio</label>
                                                                    <input type="texto" name="price" id="price" required
                                                                        placeholder="$ 00.000" class="input">
                                                                </div>

                                                                <div class="multer">
                                                                    <label for="image" class="form-label">Imagen del
                                                                        producto:</label>
                                                                    <input type="file" name="image" id="image"
                                                                        class="form-input">
                                                                </div>
                                                                <div class="front">
                                                                    <small class="text-danger image"></small>
                                                                </div>
                                                                <% if(typeof errores !='undefined' ){ %>
                                                                    <% for(let i=0; i < errores.length; i++){ %>
                                                                        <% if(errores[i].param=="image" ){ %>
                                                                            <small class="text-danger">
                                                                                <%= errores[i].msg%>
                                                                            </small>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <% } %>

                                                                                        <div class="responsivebuttons">
                                                                                            <div class="button1">
                                                                                                <button
                                                                                                    type="submit">Crear</button>
                                                                                            </div>

                                                                                            <div class="button1">
                                                                                                <button
                                                                                                    type="reset">Reset</button>
                                                                                            </div>
                                                                                        </div>

            </form>

        </main>

        <%- include("../partials/footer") %>

</body>

</html>