<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/styles_users.css">
        <title>Editar producto - Nefelibata</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>

            <p class="creating-account">ELIMINAR PRODUCTO</p>

            <p class="text-benefit">¿Estás seguro que queres eliminar <i><%= product.product_name %></i>?</p>

                <form action="/products/delete/<%= product.product_id %>?_method=DELETE" method="POST" class="form1">
                    <div class="responsivebuttons">
                        <div class="button1">
                            <button type="submit"> Eliminar</button>
                        </div>
                    </div>
                </form>            

        </main>

        <%- include("../partials/footer") %>

</body>

</html>