<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/detalle_producto.css">
    <title>Productos - Nefelibata</title>


</head>

<body>



  <%- include("../partials/header") %>

    <main>

      <section class="detalle_producto">
        
        <div class="imagen_principal">
          <img src="/images/products/<%= product.product_images[0].image %>" alt="imagen principal">
        </div>

        <div class="detalle">
          <h2><%= product.product_name %></h2>
          <div class="price-per-unit">
            <p>$ <%= product.price %></p>
          </div>
          <p><%= product.description %></p>

          <form action="#" method="post">
            <!-- <div class="amount">
              <button type="submit"><i class="fa-solid fa-circle-minus"></i></button>
              <p>0</p>
              <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
            </div> -->
            <button class="comprar">AGREGAR AL CARRITO</button>
          </form>

          <% if (locals.isLogged && locals.userLogged.user_category_id === 1) { %>
            
            <div class="responsivebuttons">
              <div class="button2">
                  <a href="/products/edit/<%= product.product_id %"><button type="submit">Editar</button></a>
              </div>
              <br>
              <div class="button2">
                  <a href="/products/delete/<%= product.product_id %>"><button type="submit">Eliminar</button></a>
              </div>
              <br>
              <div class="button1">
                  <a href="/products/create"><button type="submit">Crear Nuevo Producto</button></a>
              </div>
              <!-- <button type="submit" class="button2">
                <a href="/products/edit/<%= product.product_id %>">Editar</a>
              </button> -->
              <!-- <br>
              <button type="submit" class="button2">
                <a href="/products/delete/<%= product.product_id %>">Eliminar</a>
              </button> -->
              <!-- <br>
              <button type="submit" class="button2">
                <a href="/products/create" > Crear Producto</a>
              </button> -->
            </div>
        
           
          <% } %> 
    
        </div>

      </section>


    </main>


    <%- include("../partials/footer") %>



</body>

</html>