<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/detalle_producto.css">
    <title>Productos - Nefelibata</title>


</head>

<body>



  <%- include("../partials/header") %>

    <main>

      <section class="detalle_producto">
        
        <div class="imagen_principal">
          <img src="/images/<%= product.image %>" alt="imgaen principal">
        </div>

        <div class="detalle">
          <h2><%= product.name %></h2>
          <div class="price-per-unit">
            <p><%= product.price %></p>
          </div>
          <p><%= product.description %></p>

          <form action="#" method="post">

            <div class="delete">
              <label for="delete"></label>
              <button type="reset"><i class="fa-solid fa-trash-can"></i></button>
            </div>

            <div class="amount">
              <button type="submit"><i class="fa-solid fa-circle-minus"></i></button>
              <p>0</p>
              <button type="submit"><i class="fa-solid fa-circle-plus"></i></button>
            </div>
            <button class="comprar">AGREGAR AL CARRITO</button>
          </form>



        </div>

      </section>


    </main>


    <%- include("../partials/footer") %>



</body>

</html>