<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head",{title: "Editando:" + product.name}) %>
    <link rel="stylesheet" href="/css/create_edit.css">
    <title>Crear cuenta - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>

        <p class="creating-account">EDITAR PRODUCTO</p>

        <p class="text-benefit">Estas editando: <i><%= product.name %> </i></p>
 
        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="form1">
            <div class="control-formulario">
                <label for="name">Nombre de Prducto</label>
                <input type="text" name="name" id="name" placeholder="Ej. Agenda" required class="control" value="<%= product.name %> ">
            </div>
            <div class="control-formulario"> 
                <label for="category">Categoria</label>
                <select name="category" id="category">
                  <option value="Categoria 1" <%= product.category == "Categoria 1"? "selected":null %> >Categoria 1</option>
                  <option value="Categoria 2" <%= product.category == "Categoria 2"? "selected":null %> >Categoria 2</option>
                  <option value="Categoria 3" <%= product.category == "Categoria 3"? "selected":null %> >Categoria 3</option>
                  <option value="Categoria 4" <%= product.category == "Categoria 4"? "selected":null %> >Categoria 4</option>
                </select>
            </div>
            <div class="control-formulario">     
                    <label for="color">Color</label>
                    <select name="color" id="color">
                      <option value="Rojo" <%= product.color == "Rojo"? "selected":null  %> >Rojo</option>
                      <option value="Verde" <%= product.color == "Verde"? "selected":null  %> >Verde</option>
                      <option value="Azul" <%= product.color == "Azul"? "selected":null  %> >Azul</option>
                      <option value="Amarillo" <%= product.color == "Amarillo"? "selected":null  %> >Amarillo</option>
                    </select>
                </div>
                
            <div class="control-formulario">    
                <label for="description">Descripción</label>
                <textarea name="description" id="description" required class="control"><%= product.description %> </textarea>
            </div>

            <div class="control-formulario">    
                <label for="price">Precio</label>
                <input type="texto" name="price" id="price" required value="$<%= product.price %> " class="control">
            </div>

            <div class="control-formulario">
                <label>Imagenes Principales</label>
                <input type="file" name="principal" accept=".jpg, .pdf .jepg" multiple class="control">
            </div>

            <div class="control-formulario">
                <label>Imagenes Adicionales</label>
                <input type="file" name="principal" accept=".jpg, .pdf .jepg" multiple class="control">
            </div>

            <div class="responsivebuttons">
                <div class="button1">
                    <button type="submit">Editar</button>
                </div>

                <div class="button1">
                    <button type="reset">Reset</button>
                </div>

            </div>

        </form>

    </main>

    <%- include("../partials/footer") %>
  
</body>
</html>v