<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/create_edit.css">
        <title>Editar producto - Nefelibata</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>

            <p class="creating-account">EDITAR PRODUCTO</p>

            <p class="text-benefit">Estas editando: <i><%= product.name %></i></p>

            <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="form1" enctype="multipart/form-data">
                <div class="control-formulario">
                    <label for="name">Nombre de Producto</label>
                    <input type="text" name="name" id="name" placeholder="Ej. Agenda" required class="control"
                        value="<%= product.product_name %> ">
                </div>
                <div class="control-formulario">
                    <label for="category">Categoria</label>
                    <select name="category" id="category">
                        <% for(let i = 0; i < categorias.length; i++) {%>
                            <option value=<%= categorias[i].category %> <%=product.product_category_id == i + 1  ? "selected" :null %> ><%= categorias[i].category %></option>
                        <% } %>     
                    </select>
     
                </div>
               
                <div class="control-formulario">
                    <label for="description">Descripción</label>
                    <textarea name="description" id="description" required
                        class="control"><%= product.description %> </textarea>
                </div>

                <div class="control-formulario">
                    <label for="price">Precio</label>
                    <input type="texto" name="price" id="price" required value="$<%= product.price %> " class="control">
                </div>

                <div class="control-formulario">
                    <label>Imagenes Principales</label>
                    <input type="file" name="image" id="productImage" class="control">
                </div>

                <div class="responsivebuttons">
                    <div class="button1">
                        <button type="submit">Editar</button>
                    </div>

                    <div class="button1">
                        <button type="reset">Reset</button>
                    </div>

                </div>

            </form>
            <form class="button1" action="/products/delete/<%=product.id%>">
                <button type="submit">ELIMINAR</button>
            </form>

        </main>

        <%- include("../partials/footer") %>

</body>

</html>