<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/styles_products.css">
        <title>Productos - Nefelibata</title>
</head>

<body>

    <%- include("../partials/header") %>


        <main>
            <section class="filtros">
                <form action="#" method="post" class="detalle_filtros">
                    <h3>Filtros 1</h3>

                    <input type="checkbox" id="dato1" name="dato1" value="dato1">
                    <label for="dato1">Dato 1</label>
                    <input type="checkbox">
                    <label for="Dato 2">Dato 2</label>
                    <input type="checkbox">
                    <label for="Dato 3">Dato 3</label>
                </form>
                <form action="#" method="post" class="detalle_filtros">
                    <h3>Filtros 1</h3>
                    <label for="Dato 1">Dato 1</label>
                    <input type="checkbox">
                    <label for="Dato 2">Dato 2</label>
                    <input type="checkbox">
                    <label for="Dato 3">Dato 3</label>
                    <input type="checkbox">
                </form>
                <form action="#" method="post" class="detalle_filtros">
                    <h3>Filtros 1</h3>
                    <label for="Dato 1">Dato 1</label>
                    <input type="checkbox">
                    <label for="Dato 2">Dato 2</label>
                    <input type="checkbox">
                    <label for="Dato 3">Dato 3</label>
                    <input type="checkbox">
                </form>
                <form action="#" method="post" class="detalle_filtros">
                    <h3>Filtros 1</h3>
                    <label for="Dato 1">Dato 1</label>
                    <input type="checkbox">
                    <label for="Dato 2">Dato 2</label>
                    <input type="checkbox">
                    <label for="Dato 3">Dato 3</label>
                    <input type="checkbox">
                </form>
            </section>
<<<<<<< HEAD
            
            <div class="col-12 col-sm-6 col-lg-3">
                <% for(let i = 0; i<products.length;i++){ %> 
                <section class="product-box">
                    <a href="/products/detail/<%= products[i].id %>">
                        <figure class="product-box_image">
                            <img src="/images/<%= products[i].image %>" alt="imagen de producto">
                        </figure>
                        <article class="product-box_data">
                            <h2><%= products[i].name %></h2>
                            <span><%= products[i].price %></span>
                        </article>
                        <div class="product-button">
                            <form>
                                <button type="submit" class="buy-buttom">Comprar</button>
                            </form>
                            <form>
                                <button type="submit" class="view-buttom">Ver</button>
                            </form>
                        </div>
                    </a>
                </section>
                <% } %>
            </div>
             
  
=======

            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Todos los productos</h2>
                    </div>

                    <% for(let i = 0; i < products.length; i++) { %>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/products/<%= products[i].id %>">
                                    <figure class="product-box_image">
                                        <img src="/images/<%= products[i].image %>" alt="imagen de producto">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2><%= products[i].name %></h2>
                                        <span><%= products[i].price %></span>
                                    </article>
                                    <div class="product-button">
                                        <form>
                                            <button type="submit" class="buy-buttom">Comprar</button>
                                        </form>
                                        <form>
                                            <button type="submit" class="view-buttom">Ver</button>
                                        </form>
                                    </div>
                                </a>
                            </section>
                        </div>
                    <% } %>
                
                </div>
            </div>

 <!--            
            <section class="productos">

                <article class="detalle">
                    <div>
                        <img src="images\producto_1.png" alt="producto_1">
                    </div>
                    <div>
                        <div class="titulo">Producto 1</div>
                        <div class="precio">Precio</div>
                    </div>
                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>
                </article>





                <article class="detalle">
                    <div>
                        <img src="images\producto_2.png" alt="producto_2">
                    </div>
                    <div>
                        <div class="titulo">Producto 2</div>
                        <div class="precio">Precio</div>
                    </div>
                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>
                </article>


                <article class="detalle">
                    <div>
                        <img src="images\producto_3.png" alt="producto_3">
                    </div>
                    <div>
                        <div class="titulo">Producto 3</div>
                        <div class="precio">Precio</div>
                    </div>
                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>

                </article>

                <article class="detalle">
                    <div>
                        <img src="images\producto_4.png" alt="producto_4">
                    </div>
                    <div>
                        <div class="titulo">Producto 4</div>
                        <div class="precio">Precio</div>
                    </div>

                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>
                </article>


                <article class="detalle">
                    <div>
                        <img src="images\producto_1.png" alt="producto_1">
                    </div>
                    <div>
                        <div class="titulo">Producto 1</div>
                        <div class="precio">Precio</div>
                        </div>
                        <div class="botones_productos">

                            <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                            <button><i class="fa-solid fa-eye"></i>Vista</button>

                        </div>
                </article>





                <article class="detalle">
                    <div>
                        <img src="images\producto_2.png" alt="producto_2">
                    </div>
                    <div>
                        <div class="titulo">Producto 2</div>
                        <div class="precio">Precio</div>
                    </div>
                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>
                </article>


                <article class="detalle">
                    <div>
                        <img src="images\producto_3.png" alt="producto_3">
                    </div>
                    <div>
                        <div class="titulo">Producto 3</div>
                        <div class="precio">Precio</div>
                    </div>
                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>

                </article>

                <article class="detalle">
                    <div>
                        <img src="images\producto_4.png" alt="producto_4">
                    </div>
                    <div>
                        <div class="titulo">Producto 4</div>
                        <div class="precio">Precio</div>
                    </div>

                    <div class="botones_productos">

                        <button><i class="fa-solid fa-cart-shopping"></i>Comprar</button>

                        <button><i class="fa-solid fa-eye"></i>Vista</button>

                    </div>
                </article>
            -->

            </section>
>>>>>>> ed474cc47e9f110f9ec75aeee8e45e8edde8ff88
        </main>

        <%- include("../partials/footer") %>

</body>

</html>