<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head") %>
        <link rel="stylesheet" href="../css/styles.css">
        <title>Nefelibata</title>
    </head>

    <body>
        
        <%- include("./partials/header") %>
        
        <main>
            <!--CARRUSEL-->
            <div class="main-container-carrusel">
                <div class="slider">
                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <div class="slide first">
                            <img src="/images/plantilla_1.png" alt="">
                        </div>
                        <div class="slide">
                            <img src="/images/plantilla_2.png" alt="">
                        </div>
                        <div class="slide">
                            <img src="/images/plantilla_3.png" alt="">
                        </div>
                        <div class="slide">
                            <img src="/images/plantilla_4.png" alt="">
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                        </div>
                    </div>
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>
                </div>
                <script type="text/javascript">
                    var counter = 1;
                    setInterval(function(){
                        document.getElementById('radio' + counter).checked = true; counter++;
                        if(counter > 4){
                            counter = 1;
                        }
                    }, 5000);
                </script>
            </div>
            <div class="pieCarrusel">
                <div class="envio">
                    <i class="fa-solid fa-dolly"></i>
                    <p>Envíos gratis a partir de $xxx,xx</p>
                </div>

                <div class="porcentaje">
                    <i class="fa-solid fa-percent"></i>
                    <p>10% de descuento pagando en efectivo</p>
                </div>

                <div class="datos">
                    <i class="fa-solid fa-user-shield"></i>
                    <p>Todos tus datos están protegidos</p>
                </div>
            </div>
            
            <!-- destacados -->
            <div class="products-wrapper">
                <div class="product-row">
                    <div class="col-12">
                        <h2 class="products-title">Destacados</h2>
                    </div>
                    <% outstanding.forEach( product => { %>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <section class="product-box">
                                <a href="/products/detail/<%= product.id %>">
                                    <figure class="product-box_image">
                                        <img src="/images/<%= product.image %>" alt="imagen de producto">
                                    </figure>
                                    <article class="product-box_data">
                                        <h2><%= product.name %></h2>
                                        <span><%= product.price %></span>
                                    </article>
                                    <div class="product-button">
                                        <form>
                                            <button type="submit" class="buy-buttom">Comprar</button>
                                        </form>
                                        <form>
                                            <button type="submit" class="view-buttom">Ver</button>
                                        </form>
                                    </div>
                                </a>
                            </section>
                        </div>
                    <% }) %>
                </div>
            </div>
<!--
                    <div class="agenda">
                        <article>
                            <img src="/image/producto_2.png" class="producto2">
                            <div class="color">
                                <p>Título del producto:</p>
                                <p>Descripción:</p>
                                <p>$Precio:</p>
                            </div>
                        </article>
                    </div>

                    <div class="agenda">
                        <article>
                            <img src="/image/producto_3.png" class="producto3">
                            <div class="color">
                                <p>Título del producto:</p>
                                <p>Descripción:</p>
                                <p>$Precio:</p>
                            </div>
                        </article>
                    </div>

                    <div class="agenda">
                        <article>
                            <img src="/image/producto_5.png" class="producto5">
                            <div class="color">
                                <p>Título del producto:</p>
                                <p>Descripción:</p>
                                <p>$Precio:</p>
                            </div>
                        </article>
                    </div> -->


        </main>

        <%- include("./partials/footer") %> 
    </body>

</html>