<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/styles.css">
        <title>Nefelibata</title>
    </head>

    <body>
        
        <%- include("../partials/header") %>
        
        <main>
            <!--CARRUSEL-->
            <div class="main-container-carrusel">
                <div class="slider">
                    <div class="slides">
                        <input type="radio" name="radio-btn" id="radio1">
                        <input type="radio" name="radio-btn" id="radio2">
                        <input type="radio" name="radio-btn" id="radio3">
                        <input type="radio" name="radio-btn" id="radio4">
                        <div class="slide first">
                            <img src="/image/plantilla_1.png" alt="">
                        </div>
                        <div class="slide">
                            <img src="/image/plantilla_2.png" alt="">
                        </div>
                        <div class="slide">
                            <img src="/image/plantilla_3.png" alt="">
                        </div>
                        <div class="slide">
                            <img src="/image/plantilla_4.png" alt="">
                        </div>
                        <div class="navigation-auto">
                            <div class="auto-btn1"></div>
                            <div class="auto-btn2"></div>
                            <div class="auto-btn3"></div>
                            <div class="auto-btn4"></div>
                        </div>
                    </div>
                    <div class="navigation-manual">
                        <label for="radio1" class="manual-btn"></label>
                        <label for="radio2" class="manual-btn"></label>
                        <label for="radio3" class="manual-btn"></label>
                        <label for="radio4" class="manual-btn"></label>
                    </div>
                </div>
                <script type="text/javascript">
                    var counter = 1;
                    setInterval(function(){
                        document.getElementById('radio' + counter).checked = true; counter++;
                        if(counter > 4){
                            counter = 1;
                        }
                    }, 5000);
                </script>
            </div>
            <div class="pieCarrusel">
                <div class="envio">
                    <p><i class="fa-solid fa-dolly"></i>Envíos gratis a partir de $xxx,xx</p>
                </div>

                <div class="porcentaje">
                    <p><i class="fa-solid fa-percent"></i>10% de descuento pagando en efectivo</p>
                </div>

                <div class="datos">
                    <p><i class="fa-solid fa-user-shield"></i>Todos tus datos están protegidos</p>
                </div>
            </div>

            <h4>Destacados</h4>

            <section>
                <div class="seccion">

                    <div class="agenda">
                        <% destacados.forEach(product =>{ %> <!--sabrina-->
                        <article>
                            <a href="/products/detail/<%= product.id %>"> <!--Sabrina. Agregué esta ancla porque es un link que al hacer clik me lleva a mi pagina de detalle de producto. La ruta de esta pagina se componia por /product/detail/:id del producto que quiero mostrar. Si no es util se quita-->
                            <img src="/image/producto_1/<%= product.image %>" class="producto1"> <!--Sabrina-->
                            <div class="color">
                                <p><%= product.name %></p> <!--Sabrina-->
                                <p><%= product.description %></p> <!--sabrina-->
                                <p><%= product.discount > 0 ? toThousand ((product.price * ((100 - product.discount)/100))) : toThousand (product.price) %></p> <!--Sabrina-->
                                <% if(product.discount > 0){ %> <!--Sabrina. Si no tiene descuento no se muestra-->
                            </div>
                        </article>
                    <% }) %>
                    </div>

                    <div class="agenda">
                        <article>
                            <img src="/image/producto_2.png" class="producto2">
                            <div class="color">
                                <p>Título del producto:</p>
                                <p>Descripción:</p>
                                <p>$Precio:</p>
                            </div>
                        </article>
                    </div>

                    <div class="agenda">
                        <article>
                            <img src="/image/producto_3.png" class="producto3">
                            <div class="color">
                                <p>Título del producto:</p>
                                <p>Descripción:</p>
                                <p>$Precio:</p>
                            </div>
                        </article>
                    </div>

                    <div class="agenda">
                        <article>
                            <img src="/image/producto_5.png" class="producto5">
                            <div class="color">
                                <p>Título del producto:</p>
                                <p>Descripción:</p>
                                <p>$Precio:</p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

        </main>

        <%- include("../partials/footer") %> 
    </body>

</html>