<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="../../css/styles_users.css">
        <title>Editar Usuario - Nefelibata</title>
</head>

<body>

    <%- include("../partials/header") %>

        <main>

            <div class="path">
                <p>Inicio ></p>
                <p>Mi usuario ></p>
                <p>Editar</p>
            </div>

            <p class="creating-account">EDITAR USUARIO</p>


            <form action=" /users/edit/<%= userToEdit.user_id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form1">
                <div class="control-formulario">
                    <input type="text" name="first_name" id="first_name" value="<%= userToEdit.first_name %>" required class="input">
                    <label for="first_name" class="input-label">Nombre</label>
                </div>
                <div class="control-formulario">
                    <input type="text" name="last_name" id="last_name" value="<%= userToEdit.last_name %>" required class="input">
                    <label for="last_name" class="input-label">Apellido</label>
               
                </div>
                <div class="input-group">
                    <input type="email" name="email" id="email" value="<%= userToEdit.email %>" required class="input">
                    <label for="email" class="input-label">Email</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="contraseña" value="<%= userToEdit.password %>" required class="input">
                    <label for="password" class="input-label">Contraseña</label>
                </div>
                <div class="input-group"">
                    <label for="user_category" class="input-label">Categoria</label>
                    <select name="user_category" required id="category">
                        <option value="admin" <%=userToEdit.user_category=="admin" ? "selected" :null %>>Admin</option>
                        <option value="cliente" <%=userToEdit.user_category=="cliente" ? "selected" :null %>>Client</option>
                        <option value="visita" <%=userToEdit.user_category=="visita" ? "selected" :null %>>Visita</option>
                    </select>
                </div>

                <div class="input-group">
                    <input type="file" name="principal" accept=".jpg, .pdf .jepg" multiple class="input" value="<%= userToEdit.image %>">
                    <label>Avatar</label>
                    <input type="file" name="avatar" accept=".jpg, .pdf .jepg" multiple class="control"
                        value="<%= userToEdit.image %>">
                </div>

                <div class="button1">
                    <button type="submit">Editar</button>
                </div>
            </form>

            <p class="tenescuenta">¿Ya tenés cuenta?<a href="/users/login">Inicia sesión</a></p>

        </main>

        <%- include("../partials/footer") %>


</body>

</html>