<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="../css/styles_users.css">
        <title>Iniciar sesión - Nefelitaba</title>
</head>

<body>

    <%- include("../partials/header") %>
    

        <main>
            <!-- <div class="path">
                <p>Inicio ></p>
                <p>Mi Cuenta ></p>
                <p>Login</p>
            </div> -->

            <p class="creating-account">INICIÁ SESIÓN</p>

            <div class="errores">
                <ul>
                    
                </ul>
            </div>



            <form action="/users/login" method="POST" class="form1">
                <div class="input-group">
                    <input type="email" name="email" id="email" required value="<%= locals.oldData ? oldData.email : null %>" class="input">
                    <label for="email" class="input-label">Email</label>
                    <% if (locals.errors && errors.email) { %>
                        <div class="error">
                            <%= errors.email.msg %>
                        </div>
                    <% } %>
                </div>
                
                <div class="input-group">
                    <input type="password" name="password" id="password" required class="input">
                    <label for="password" class="input-label">Contraseña</label>
                    <br>
                    <br>
                    <p class="tenescuenta"><a href="/users/passwordRecovery">¿Olvidaste tu contraseña?</a></p>
                </div>
                <div class="col-md-6 my-2">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="remember_user"> Recordar mi usuario
                        </label>
                    </div>
                </div>
                <div class="button1">
                    <button type="submit">Iniciar sesión</button>
                </div>
            </form>

            <p class="tenescuenta">¿No tenés cuenta aún?<a href="/users/register"> Crear cuenta</a></p>

            <div class="socialnetwork">
                <button type="submit">Iniciá sesión con <i class="fa-brands fa-facebook-square"></i> FACEBOOK</button>
            </div>

        </main>

        <script src="/public/js/loginvalidator.js"></script>
        
        <%- include("../partials/footer") %>
       
</body>

</html>