<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_users.css">
    <title>Registro - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>

        <!-- <div class="path">
            <p>Inicio ></p>
            <p>Mi cuenta ></p>
            <p>Crear Cuenta</p>
        </div> -->
        
        <p class="creating-account">CREA TU CUENTA</p>    
        
        
        <form action="/users/register" method="POST" enctype="multipart/form-data" class="form1">

            <div class="input-group">
                <input type="text" name="firstName" id="firstName" class="input" required value="<%= locals.oldData ? oldData.firstName : null %>">
                <label for="firstName" class="input-label">Nombre</label>
                <div class="errorFront">
                    <small class="error erFirstName"></small>
                </div>
                 <% if(locals.errors && errors.firstName){ %> 
                    <div class="error">
                        <%= errors.firstName.msg %> 
                    </div>
                <% } %> 
            </div>
            
            <div class="input-group">
                <input type="text" name="lastName" id="lastName" class="input" required value="<%= locals.oldData ? oldData.lastName : null %>">
                <label for="lastName" class="input-label">Apellido</label>
                <div class="errorFront">
                    <small class="error erLastName"></small>
                </div>
                <% if(locals.errors && errors.lastName){ %> 
                    <div class="error">
                        <%= errors.lastName.msg %> 
                    </div>
                <% } %> 
            </div>

            <div class="input-group"> 
                <input type="email" name="email" id="email" class="input" required value="<%= locals.oldData ? oldData.email : null %>">
                <label for="email" class="input-label">Email</label>
                <div class="errorFront">
                    <small class="error erEmail"></small>
                </div>
                <% if(locals.errors && errors.email){ %> 
                    <div class="error">
                        <%= errors.email.msg %> 
                    </div>
                <% } %> 
            </div>
    
            <div class="input-group">    
                <input type="password" name="password" id="password" required class="input">
                <label for="password" class="input-label">Contraseña</label>
                <div class="errorFront">
                    <small class="error erPassword"></small>
                </div>
                <% if(locals.errors && errors.password){ %> 
                    <div class="error">
                        <%= errors.password.msg %> 
                    </div>
                <% } %> 
            </div>

            <!-- <div class="input-group">    
                <input type="password" name="repassword" id="repassword" required class="input">
                <label for="repassword" class="input-label">Confirmar Contraseña</label>
                <div class="errorFront">
                    <small class="error erRepassword"></small>
                </div>
                <% if(locals.errors && errors.password){ %> 
                    <div class="error">
                        <%= errors.password.msg %> 
                    </div>
                <% } %> 
            </div>          -->
            <div class="input-group-selected">
                <select name="category" id="category">
                    <label for="category" class="input-label">Categoria</label>
                    <% for(let i=0; i < categorias.length; i++) {%>
                        <option value= <%= categorias[i].user_category_id %> > <%= categorias[i].category %> </option>
                    <% } %>
                </select>
            </div>
            
            <div class="input-group input-container">
                <figure class="img-miniature-container">
                    <img id="chosen-image">
                    <figcaption id="image-name"></figcaption>
                </figure>
                <input type="file" name="avatar" id="avatar" class="input input_avatar">
                <label for="avatar" class="label_avatar">Imagen de perfil</label>
            </div>
            <div class="errorFront">
                <small class="error erAvatar"></small>
            </div>
            <% if(locals.errors && errors.userImage){ %> 
                <div class="error">
                    <%= errors.userImage.msg %>                       
                </div>
            <% } %>             
          
            <div class="responsivebuttons">
                <div class="button1 button2">
                    <button type="reset">Reset</button>
                </div>
                <br>
                <div class="button1">
                    <button type="submit">Crear Cuenta</button>
                </div>
            </div>
        </form>
        
        <p class="tenescuenta">¿Ya tenés cuenta?<a href="/users/login"> Inicia sesión</a></p>

        <div class="socialnetwork">
            <button type="submit">Crea Cuenta con <i class="fa-brands fa-facebook-square"></i>FACEBOOK</button>
        </div>

    </main>
    
    <script src='/js/validatorUser.js' type="text/javascript"></script>

    <%- include("../partials/footer") %>
    
    
</body>
</html>