<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_users.css">
    <title>Registro - Nefelibata</title>
</head>
<body>
    
    <%- include("../partials/header") %>

    <main>

        <div class="path">
            <p>Inicio ></p>
            <p>Mi cuenta ></p>
            <p>Crear Cuenta</p>
        </div>
        
        <p class="creating-account">CREA TU CUENTA</p>
    
        
        
        <form action=" /users/register" method="POST" enctype="multipart/form-data" class="form1">

            <div class="input-group">
                <input type="text" name="firstName" id="firstName" class="input" required value="<%= locals.oldData ? oldData.firstName : null %>">
                <label for="firstName" class="input-label">Nombre</label>
                 <% if(locals.errors && errors.firstName){ %> 
                    <div class="error">
                        <%= errors.firstName.msg %> 
                    </div>
                <% } %> 
            </div>
            
            <div class="input-group">
                <input type="text" name="lastName" id="lastName" class="input" required value="<%= locals.oldData ? oldData.lastName : null %>">
                <label for="lastName" class="input-label">Apellido</label>
                <% if(locals.errors && errors.lastName){ %> 
                    <div class="error">
                        <%= errors.lastName.msg %> 
                    </div>
                <% } %> 
            </div>

            <div class="input-group"> 
                <input type="email" name="email" id="email" class="input" required value="<%= locals.oldData ? oldData.email : null %>">
                <label for="email" class="input-label">Email</label>
                <% if(locals.errors && errors.email){ %> 
                    <div class="error">
                        <%= errors.email.msg %> 
                    </div>
                <% } %> 
            </div>
    
            <div class="input-group">    
                <input type="password" name="password" id="password" required class="input">
                <label for="password" class="input-label">Contraseña</label>
            </div>
            <% if(locals.errors && errors.password){ %> 
                <div class="error">
                    <%= errors.password.msg %> 
                </div>
            <% } %> 

            <div class="input-group">    
                <input type="repassword" name="repassword" id="repassword" required class="input">
                <label for="repassword" class="input-label">Confirmar Contraseña</label>
            </div>
            <% if(locals.errors && errors.password){ %> 
                <div class="error">
                    <%= errors.password.msg %> 
                </div>
            <% } %> 

          

            
            <div class="input-group">
                <label>Imagen de perfil</label>
                <input type="file" name="avatar" class="input" >

                <% if(locals.errors && errors.userImage){ %> 
                    <div class="error">
                        <%= errors.userImage.msg %>                       
                    </div>
                <% } %> 
            </div>
            

            <div class="button1">
              <button type="submit">Crear Cuenta</button>
            </div>
        </form>
        
        <p class="tenescuenta">¿Ya tenés cuenta?<a href="/users/login"> Inicia sesión</a></p>

        <div class="socialnetwork">
        <button type="submit">Crea Cuenta con <i class="fa-brands fa-facebook-square"></i>
           FACEBOOK</button>
        </div>

    </main>
    

    <%- include("../partials/footer") %>
    
    
</body>
</html>