<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles_login.css">
    <title>Perfil de usuarios - Nefelitaba</title>
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <div class="profile" class="">
            <div class="avatar">
                <div class="col-md-3">
                    <h2>Hi <%= users.fullName %> </h2><!--imprimir de user su fullName-->
                    <img src="/images/avatars/<%= users.avatar %> "><!--del user que me llega, imprimo la propiedad avatar-->
                    <br>
                    <br>
                    <div class="alert alert-success"><%= users.email %> </div><!--imprimo del user su propiedad email-->
                </div>
            </div>
        </div>
        <!-- //Container -->
        
        <%- include('partials/footer'); %>
    </main>
</body>